<div class="main_content">

  <div id="recipe_top" class="columns">
    <div class="column is-one-third">
      <figure class="recipe_image image is-1by1">
        <%= link_to recipe_path(@recipe) do %>
          <%= image_tag @recipe.image %>
        <% end %>
      </figure>

    </div>
    <div class="column is-two-thirds">
      <div id="recipe_info">
        <h1><%= @recipe.title %></h1>
        <p class="description"><%= @recipe.description %></p>
        <p>Submitted by <%= @recipe.user.email %></p>

      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <div id="recipe_info">
        <p class="title">Comments</p>

        <% @comments.each do |comment| %>
        <p class="has-text-grey-dark has-text-weight-bold is-italic ">
          "<%= comment.body %>"
        </p>
        <p class="is-size-7 has-text-grey-light">
          -<%= comment.user.email %> (<%= comment.created_at.strftime("%I:%M %p") %>)
        </p>
        <br />
        <% end %>

      </div>
    </div>
  </div>

</div>
