<%= form_for @recipe do |f| %>
  <%= render 'errors' %>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="field">
          <div class="control">
            <%= f.text_field :title, class: 'input is-large', placeholder: "Recipe Title" %><br /><br />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= f.text_area :description, class: 'textarea', rows: 4, placeholder: "Recipe description..." %><br /><br />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <div class="file">
              <label class="file-label">
                <%= f.file_field :image %>
                <!-- <span class="file-cta">
                  <span class="file-icon">
                    <i class="fas fa-upload"></i>
                  </span>
                  <span class="file-label">
                    Upload image…
                  </span>
                </span> -->
              </label>
            </div>

          </div>
        </div>

      </div>
    </div>

<div class="panel-body">

    <div class="row">
      <div class="col-md-6">
        <h3>Ingredients</h3>
        <div id="ingredients">
          <%= f.fields_for :ingredients do |ingredient| %>
            <div id="ingredients">
              <div class="field">
                <%= render 'ingredient_fields', :f => ingredient %>
              </div>
            </div>
          <% end %>

          <div class="links">
            <%= link_to_add_association 'Add Ingredient', f, :ingredients, class: 'button is-light' %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Directions</h3>
        <div id="directions">
          <%= f.simple_fields_for :directions do |direction| %>
            <%= render 'direction_fields', f: direction %>
          <% end %>
          <div class="links">
            <%= link_to_add_association "Add Step", f, :directions, class: "btn btn-default add-button" %>
          </div>
        </div>
      </div>

    </div>

  </div>

  <%= f.button "Submit", class: "button is-primary", :disable_with => 'Please wait ...' %>
<% end %>
