<%= form_for @recipe do |f| %>
  <%= render 'errors' %>

    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <div class="field">
          <div class="control">
            <%= f.text_field :title, class: 'input is-large', placeholder: "Recipe Title" %><br /><br />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <%= f.text_area :description, class: 'textarea', rows: 4, placeholder: "Recipe description..." %><br /><br />
          </div>
        </div>
        <div class="field">
          <div class="control">
            <div class="file">
              <label class="file-label">
                <%= f.file_field :image %>
              </label>
            </div>

          </div>
        </div>

      </div>
    </div>

<div class="panel-body">

    <div class="columns">

      <div class="column">

        <div id="ingredients">
          <p class="title is-4 has-text-grey-dark">Ingredients</p>
          <p class="subtitle is-small has-text-grey-light">
            Example: 2 cups sugar
          </p>
          <%= f.fields_for :recipe_ingredients do |ri| %>
            <%= ri.text_field :quantity, class: "input", placeholder: "Qty", type: "number" %>
            <%= ri.text_field :unit, class: "input", placeholder: "Unit" %>

            <%= ri.fields_for :ingredient do |i| %>
              <%= i.text_field :name, class: "input", placeholder: "Ingredient" %><br />
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="column">

        <div id="directions">
          <p class="title is-4 has-text-grey-dark">Directions</p>
          <%= f.fields_for :directions do |d| %>
            <%= d.text_area :step, class: "textarea", placeholder: "Directions Step" %><br />
          <% end %>
        </div>
      </div>

    </div>

  <div class="level is-mobile">
    <div class="level-item">
      <%= f.button "Submit", class: "button is-primary is-large", :disable_with => 'Please wait ...' %>
      &nbsp;&nbsp;
      <%= link_to "Cancel", root_path, class: "button is-large" %>
    </div>
  </div>

<% end %>
