<div class="nested-fields field">
  <div class="field has-addons">
    <%= link_to_remove_association f, class: 'button is-info is-light' do %>
      <i class="fas fa-times"></i>
    <% end %>

    <div class="field">
      <%= f.text_field :quantity, placeholder: "Qty" %>
      <%= f.text_field :unit, placeholder: "Unit" %>
    </div>
    <div class="ingredient">
      <%= f.fields_for :ingredient do |ingredient| %>
        <%= render 'ingredient_fields', f: ingredient %>
      <% end %>
    </div>
    <div class="links">
      <%= link_to_add_association 'Add Ingredient', f, :ingredient, class: 'button is-light' %>
    </div>

  </div>
</div>
