
<div class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="title is-5 has-text-grey">
        <%= link_to "Most Ingredients", recipes_most_ingredients_path %>
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title is-5 has-text-grey">
        <%= link_to "Least Ingredients", recipes_least_ingredients_path %>
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title is-5 has-text-grey">
        <%= link_to "Most Comments", recipes_most_active_path %>
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="title is-5 has-text-grey">


      </p>
    </div>
  </div>
</div>


<% @recipes.each_slice(3) do |recipes| %>
  <div class="row">
    <% recipes.each do |recipe| %>
      <div class="col-md-4">
        <div class="recipe">
          <div class="image_wrapper">
            <%= link_to recipe_path(recipe) do %>
              <%= image_tag recipe.image %>
            <% end %>
          </div>
          <h2><%= link_to recipe.title, recipe %></h2>
          <p>
            <%= pluralize(recipe.comments.count, "Comment") %>

          </p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
