<div class="main_content">
  <div class="columns is-mobile">
    <div class="column is-2 is-offset-1">
      <a href="#"><i class="js-previous-recipe fas fa-angle-left nav-arrow" data-id="<%= @recipe.id %>"></i></a>
    </div>
    <div class="column is-2 is-offset-7">
      <a href="#"><i class="js-next-recipe fas fa-angle-right nav-arrow" data-id="<%= @recipe.id %>"></i></a>
    </div>
  </div>

  <div id="recipe_top" class="columns">
    <div class="column is-one-third">
      <figure class="recipe_image image is-1by1">
        <%= image_tag @recipe.image %>
      </figure>

    </div>
    <div class="column is-two-thirds">
      <div id="recipe_info">
        <h1 id="js-recipe-title"><%= @recipe.title %></h1>
        <p class="description"><%= @recipe.description %></p>
        <p class="js-subbmited-by is-size-7 has-text-weight-bold has-text-grey is-italic">Submitted by <%= link_to @recipe.user.screenname, user_recipes_path(@recipe.user), class: "user-link" %></p>



      </div>
    </div>
  </div>

  <div class="columns">
    <div class="column is-half">
      <div id="ingredients-styling">
        <p class="title">Ingredients</p>
        <ul id="js-ingredients-list">
          <% @recipe.recipe_ingredients.each do |ri| %>
            <li><%= ri.recipe_line_detail %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="column is-half">
      <div id="directions-styling">
        <p class="title">Directions</p>
        <ol id="js-directions-list">
          <% @recipe.directions.each do |direction| %>
            <li>
              <%= direction.step %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>

  <br />

  <div class="colums">
    <div class="js-comments column is-half is-offset-one-quarter" id="comments-styling">
      <p class="title has-text-centered">Comments</p>

      <% if current_user %>
        <br />
        <% @comments.each do |comment| %>
          <%= render 'comments/comment', comment: comment %>
        <% end %>

        <div class="newComment" class="has-text-grey-dark has-text-weight-bold is-italic"></div>

        <div>

          <%= form_for ([@recipe, @comment]) do |f| %>
            <%= f.text_field :body, class: "input commentBox", style: "width: 70%" %>
            <%= f.submit "Comment", class: "button is-light"%>
          <% end %>


        </div>
      <% end %>

    </div>
  </div>

  <div class="columns">
    <div class="column">
      <%= link_to "Back", root_path, class: "button is-primary" %>

      <% if user_signed_in? %>
        <% if current_user.admin || current_user == @recipe.user %>
          <%= link_to "Edit", edit_recipe_path(@recipe), class: "button is-light" %>
          <%= link_to "Delete", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure?" }, class: "button is-light" %>
        <% end %>
      <% end %>

    </div>
  </div>

</div>
