<div class="level">
  <div class="level-item">
    <p class="title is is-3">

      <% if @user == current_user %>
        <% name = "Your" %>
      <% else %>
        <% name = "#{@user.screenname}'s" %>
      <% end %>

      <%= "#{name} Profile" %>
    </p>
  </div>
</div>

<div class="level top-section">
  <div class="level-item">
      <p class="title is-5">

        <% if @user == current_user %>
          <% heading = "You have" %>
        <% else %>
          <% heading = "#{@user.screenname} has " %>
        <% end %>

        <strong><%= heading %></strong>
        <a class="js-view-recipes red" data-user-id="<%= @user.id %>" href="#"><%= @user.recipes.count %> <%= "Recipe".pluralize(@user.recipes.count) %></a>
      </p>
  </div>
</div>

<div id="js-recipes"></div>
